.ShiftInputForm{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 50px;
}

.ShiftInputForm input{
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 250px; 
    padding-left: 10px;
    margin-bottom: 10px;
}

.ShiftInputForm label{
    display: block;
    margin-bottom: 15px;
}

.ShiftInputForm button{
    display: block;
    margin: 0 auto; 
    height: 40px;
    width: 130px;
    border-radius: 15px; 
    margin-top: 25px;
    background-color: #2f952f;
    color: white;
}

.ShiftInputForm button:hover{
    background-color: #237a23;
    box-shadow: 1px 3px 4px rgb(172, 172, 172);
}

.Date_Label{
    font-size: 20px;
    margin: 0 0 10px 0 !important;
    padding: 0;
}

.Employe_Name{
    padding-left: 5px;
    font-weight: 600;
    font-size: 18px;
}

.Time_Container{
    display: flex;
    justify-content: center;;
}

.Time_Container input{
    width: 45px;
    height: 30px;
    margin: 0 5px 0 5px;;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

.Time_Container select{
    height: 30px;
    width: 45px;;
}

.Hidden{
    display: none !important;
}

.Error_Message{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    width: 250px;
    height: 80px;
    margin-bottom: 15px;
    background-color: #ffd4d4;
    color: #ca2d2d;
}

.ShiftInputForm p{
    margin: 0;
    padding: 0;
} 