.FormInputEmployee{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* width: 350px;
    height: 270px; */
    padding: 50px;

}

.FormInputEmployee input{
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    height: 35px;
    width: 250px; 
    padding-left: 10px;
    margin-bottom: 15px;
}

.FormInputEmployee select{
    display: block;
    margin: 0 auto;
    height: 35px;
    box-sizing: border-box;
    width: 250px; 
    padding-left: 10px;
    margin-bottom: 15px;
}

.FormInputEmployee button{
    display: block;
    margin: 0 auto; 
    height: 40px;
    width: 130px;
    border-radius: 15px; 
    margin-top: 25px;
    background-color: #2f952f;
    color: white;
}

.FormInputEmployee button:hover{
    background-color: #237a23;
    box-shadow: 1px 3px 4px rgb(172, 172, 172);
}

.Hidden{
    display: none !important;
}

.Error_Message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 250px;
    height: 90px;
    margin-bottom: 15px;
    background-color: #ffd4d4;
    color: #ca2d2d;
    text-align: center;
}

.FormInputEmployee p{
    font-size: 14px;
    margin: 0;
    padding: 0;
} 