.PageNavigation{
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: #fdb869;
}

.PageNavigation nav{
    margin: 0;
    padding: 0;
}

.PageNavigation ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;

}

.PageNavigation li{

    display: flex;
    align-items: center;
    background-color: #f7ff8b;
    margin: 0;
    padding: 0;
}

.PageNavigation a{
    box-sizing: border-box;
    margin: 0 1px;
    height: 100%;
    width: 70px;
    text-align: center;
    line-height: 50px;
    padding: 0 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 550;
    color: #858585;
    border-bottom: 2px solid rgb(192, 192, 192);
}

.PageNavigation a:hover{
    background-color: rgb(255, 212, 144);
    border-bottom: 2px solid rgb(161, 161, 161);
    color: rgb(189, 104, 48) !important;
}

.Active{
    background-color: #f1e375;
    color: #f1a312 !important;
    border-bottom: 2px solid rgb(85, 85, 85) !important;
}