.TableCell{
    padding: 3px;
    width: 135px;
    height: 65px;
}

.TableCellToday{
    padding: 3px;
    width: 135px;
    height: 65px;
    background-color: rgb(195, 255, 255);
}

.Add_New{
    height: 50px;
    text-align: center;
}

.Add_New:hover{
    background-color: #e2e2e2;
}

.Add_New:hover:after {
    content: "+";
    line-height: 45px;
    vertical-align: middle;
}

