.Filter{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 50px auto; 
}

.Filter select{
    margin: 0 auto;
    margin-top: 40px;
    width: 150px;
    height: 35px;
    font-size: 14px;
    text-align: center;
}

.Filter table{
    margin: 0 auto;
    margin-top: 30px;
    width: 450px;
    text-align: center;
}

.Filter table th{
    height: 35px;
    background-color: rgb(226, 226, 226);
    color: rgb(104, 104, 104)
}

.Filter h3{
    text-align: center;
}