.Employee{
    display: flex;
    position: relative;
}

.Employee span{
    padding-left: 15px;
    display: block;
}

.Employee img {
    width: 50px;
    height: 50px;
}

.Button_Container{
    position: absolute;
    right: 0;
    bottom: 0;
}

.Employee button {
    background: none;
    border: none; 
    padding: 0;
    margin-left: 5px;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.Employee button:hover {
    color: #0000ff;
    border-bottom:1px solid #0000ff; 
}